@model Models.ViewModels.ShoppingCartVM
@using Microsoft.Extensions.Options
@inject IOptions<Utility.StripeSetting> stripe

<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="row container">
                    <div class="col-6">
                        <i class="fade fa-shopping-cart"></i> &nbsp;
                        Order Summery
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-2">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">PickUp Details</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.Name" class="form-control" />
                                    <span asp-validation-for="orderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="orderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Adress</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.StreetAdress" class="form-control" />
                                    <span asp-validation-for="orderHeader.StreetAdress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.City" class="form-control" />
                                    <span asp-validation-for="orderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>State</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.State" class="form-control" />
                                    <span asp-validation-for="orderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Postal Code</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="orderHeader.PostalCode" class="form-control" />
                                    <span asp-validation-for="orderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summery: </span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.ListCart)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="text-muted">@details.animal.AnimalName</h6>
                                            <small class="text-muted">Quantity: @details.count</small>
                                        </div>
                                        <span class="text-muted">@((details.Price * details.count).ToString("c"))</span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (USD)</small>
                                    <strong class="text-info">@Model.orderHeader.OrderTotal.ToString("c")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>